 .container {
 	width: 800px;
 	font-size: 0;
 	margin-right: auto;
 	margin-left: auto;
 	margin-top: 90px;
 	text-align: center;

 }

 .green {
 	background-color: green;
 	width: 50%;
 	height: 100px;
 	display: inline-block;
 }
.blue {
	background-color: blue;
	width: 50%;
	height: 100px;
	display: inline-block;
	border: 1px solid black;
}
.grey {
	background-color: grey;
	width: 33.33%;
	height: 100px;
	display: inline-block;
	border: 1px solid black;

}
.black {
	background-color: black;
	width: 33.33%;
	height: 100px;
	display: inline-block;
	border: 1px solid black;
}
.yellow {
	background-color: yellow;
	width: 33.33%;
	height: 100px;
	display: inline-block;
	border: 1px solid black;


}